<?xml version="1.0"?>
<config>
    <modules>
        <Astrio_Callme>
            <version>1.0.0</version>
        </Astrio_Callme>
    </modules>
    <global>
        <models>
            <astrio_callme>
                <class>Astrio_Callme_Model</class>
                <resourceModel>astrio_callme_resource</resourceModel>
            </astrio_callme>
            <astrio_callme_resource>
                <entities>
                    <call>
                        <table>astrio_callme_call</table>
                    </call>
                    <call_status>
                        <table>astrio_callme_call_status</table>
                    </call_status>
                    <call_status_history>
                        <table>astrio_callme_call_status_history</table>
                    </call_status_history>
                </entities>
                <class>Astrio_Callme_Model_Resource</class>
            </astrio_callme_resource>
        </models>
     
        <blocks>
            <astrio_callme>
                <class>Astrio_Callme_Block</class>
            </astrio_callme>
        </blocks>

        <helpers>
            <astrio_callme>
                <class>Astrio_Callme_Helper</class>
            </astrio_callme>
        </helpers>
        <resources>
            <astrio_callme_setup>
                <setup>
                    <module>Astrio_Callme</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </astrio_callme_setup>
            <astrio_callme_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </astrio_callme_write>
            <astrio_callme_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </astrio_callme_read>
        </resources>

        <template>
            <email>
                <astrio_callme_email_admin_notification_template translate="label" module="astrio_callme">
                    <label>New Call Admin Notification</label>
                    <file>astrio/callme/email_admin_notification_template.html</file>
                    <type>html</type>
                </astrio_callme_email_admin_notification_template>
                <astrio_callme_email_admin_comment_template translate="label" module="astrio_callme">
                    <label>New Call Comment Admin Notification</label>
                    <file>astrio/callme/email_admin_comment_template.html</file>
                    <type>html</type>
                </astrio_callme_email_admin_comment_template>
            </email>
        </template>
    </global>
    <frontend>
        <layout>
            <updates>
                <astrio_callme>
                    <file>astrio_callme.xml</file>
                </astrio_callme>
            </updates>
        </layout>
        <translate>
            <modules>
                <Astrio_Callme>
                    <files>
                        <default>Astrio_Callme.csv</default>
                    </files>
                </Astrio_Callme>
            </modules>
        </translate>
        <routers>
            <astrio_callme>
                <use>standard</use>
                <args>
                    <module>Astrio_Callme</module>
                    <frontName>callme</frontName>
                </args>
            </astrio_callme>
        </routers>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <Astrio_Callme>
                    <files>
                        <default>Astrio_Callme.csv</default>
                    </files>
                </Astrio_Callme>
            </modules>
        </translate>
        <layout>
            <updates>
                <astrio_callme>
                    <file>astrio_callme.xml</file>
                </astrio_callme>
            </updates>
        </layout>
    </adminhtml>

    <default>
        <astrio_callme>
            <email>
                <admin_notification_template>astrio_callme_email_admin_notification_template</admin_notification_template>
                <admin_comment_template>astrio_callme_email_admin_comment_template</admin_comment_template>
                <sender_email_identity>general</sender_email_identity>
            </email>
            <general>
                <status_after_post>pending</status_after_post>
            </general>
        </astrio_callme>
    </default>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <astrio_callme after="Mage_Adminhtml">Astrio_Callme_Adminhtml</astrio_callme>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>
