<?xml version="1.0"?>
<config>
    <modules>
        <Astrio_Documentation>
            <version>1.0.1</version>
        </Astrio_Documentation>
    </modules>
    <global>
        <blocks>
            <astrio_documentation>
                <class>Astrio_Documentation_Block</class>
            </astrio_documentation>
        </blocks>
        <helpers>
            <astrio_documentation>
                <class>Astrio_Documentation_Helper</class>
            </astrio_documentation>
        </helpers>
        <models>
            <astrio_documentation>
                <class>Astrio_Documentation_Model</class>
                <resourceModel>astrio_documentation_resource</resourceModel>
            </astrio_documentation>
            <astrio_documentation_resource>
                <class>Astrio_Documentation_Model_Resource</class>
                <entities>
                    <document>
                        <table>astrio_documentation_document</table>
                    </document>
                    <category>
                        <table>astrio_documentation_category</table>
                    </category>
                    <document_product>
                        <table>astrio_documentation_document_product</table>
                    </document_product>
                </entities>
            </astrio_documentation_resource>
        </models>

        <resources>
            <astrio_documentation_setup>
                <setup>
                    <module>Astrio_Documentation</module>
                </setup>
            </astrio_documentation_setup>
        </resources>
    </global>

    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <astrio_documentation before="Mage_Adminhtml">Astrio_Documentation_Adminhtml</astrio_documentation>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>

    <adminhtml>
        <layout>
            <updates>
                <astrio_documentation>
                    <file>astrio_documentation.xml</file>
                </astrio_documentation>
            </updates>
        </layout>
        <translate>
            <modules>
                <Astrio_Documentation>
                    <files>
                        <default>Astrio_Documentation.csv</default>
                    </files>
                </Astrio_Documentation>
            </modules>
        </translate>
    </adminhtml>

    <frontend>
        <layout>
            <updates>
                <astrio_documentation>
                    <file>astrio_documentation.xml</file>
                </astrio_documentation>
            </updates>
        </layout>
        <translate>
            <modules>
                <Astrio_Documentation>
                    <files>
                        <default>Astrio_Documentation.csv</default>
                    </files>
                </Astrio_Documentation>
            </modules>
        </translate>
        <routers>
            <astrio_documentation>
                <use>standard</use>
                <args>
                    <module>Astrio_Documentation</module>
                    <frontName>astrio_documentation</frontName>
                </args>
            </astrio_documentation>
        </routers>
    </frontend>
</config>