<?xml version="1.0"?>
<config>
    <modules>
        <Astrio_Video>
            <version>1.0.1</version>
        </Astrio_Video>
    </modules>
    <global>
        <blocks>
            <astrio_video>
                <class>Astrio_Video_Block</class>
            </astrio_video>
        </blocks>
        <helpers>
            <astrio_video>
                <class>Astrio_Video_Helper</class>
            </astrio_video>
        </helpers>
        <models>
            <astrio_video>
                <class>Astrio_Video_Model</class>
                <resourceModel>astrio_video_resource</resourceModel>
            </astrio_video>
            <astrio_video_resource>
                <class>Astrio_Video_Model_Resource</class>
                <entities>
                    <product_video>
                        <table>astrio_video_product_video</table>
                    </product_video>
                </entities>
            </astrio_video_resource>
        </models>

        <resources>
            <astrio_video_setup>
                <setup>
                    <module>Astrio_Video</module>
                    <class>Mage_Catalog_Model_Resource_Setup</class>
                </setup>
            </astrio_video_setup>
        </resources>
    </global>

    <adminhtml>
        <layout>
            <updates>
                <astrio_video>
                    <file>astrio_video.xml</file>
                </astrio_video>
            </updates>
        </layout>
        <translate>
            <modules>
                <Astrio_Video>
                    <files>
                        <default>Astrio_Video.csv</default>
                    </files>
                </Astrio_Video>
            </modules>
        </translate>
        <events>
            <catalog_product_save_after>
                <observers>
                    <astrio_video>
                        <type>singleton</type>
                        <class>astrio_video/observer</class>
                        <method>catalogProductSaveAfter</method>
                    </astrio_video>
                </observers>
            </catalog_product_save_after>
            <catalog_product_prepare_save>
                <observers>
                    <astrio_video>
                        <type>singleton</type>
                        <class>astrio_video/observer</class>
                        <method>catalogProductPrepareSave</method>
                    </astrio_video>
                </observers>
            </catalog_product_prepare_save>
        </events>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Astrio_Video before="Mage_Adminhtml">Astrio_Video_Adminhtml</Astrio_Video>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <frontend>
        <layout>
            <updates>
                <astrio_video>
                    <file>astrio_video.xml</file>
                </astrio_video>
            </updates>
        </layout>
        <translate>
            <modules>
                <Astrio_Video>
                    <files>
                        <default>Astrio_Video.csv</default>
                    </files>
                </Astrio_Video>
            </modules>
        </translate>
    </frontend>
</config>