<?xml version="1.0"?>
<config>
    <modules>
        <Astrio_BlockCarousel>
            <version>1.0.0</version>
        </Astrio_BlockCarousel>
    </modules>
    <global>
        <blocks>
            <astrio_blockcarousel>
                <class>Astrio_BlockCarousel_Block</class>
            </astrio_blockcarousel>
        </blocks>
        <helpers>
            <astrio_blockcarousel>
                <class>Astrio_BlockCarousel_Helper</class>
            </astrio_blockcarousel>
        </helpers>
        <models>
            <astrio_blockcarousel>
                <class>Astrio_BlockCarousel_Model</class>
            </astrio_blockcarousel>
        </models>
    </global>

    <adminhtml>
        <layout>
            <updates>
                <astrio_blockcarousel>
                    <file>astrio_blockcarousel.xml</file>
                </astrio_blockcarousel>
            </updates>
        </layout>
        <translate>
            <modules>
                <Astrio_BlockCarousel>
                    <files>
                        <default>Astrio_BlockCarousel.csv</default>
                    </files>
                </Astrio_BlockCarousel>
            </modules>
        </translate>
    </adminhtml>

    <frontend>
        <layout>
            <updates>
                <astrio_blockcarousel>
                    <file>astrio_blockcarousel.xml</file>
                </astrio_blockcarousel>
            </updates>
        </layout>
        <translate>
            <modules>
                <Astrio_BlockCarousel>
                    <files>
                        <default>Astrio_BlockCarousel.csv</default>
                    </files>
                </Astrio_BlockCarousel>
            </modules>
        </translate>
    </frontend>
</config>