<?xml version="1.0"?>
<config>
    <sections>
        <astrio_menu translate="label" module="astrio_menu">
            <label>Menu</label>
            <tab>astrio_all</tab>
            <frontend_type>text</frontend_type>
            <sort_order>1</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <settings translate="label" module="astrio_menu">
                    <label>Settings</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>10</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <sections_count translate="label" module="astrio_menu">
                            <label>Sections count</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <validate>required-entry validate-number validate-digits validate-greater-than-zero</validate>
                        </sections_count>
                    </fields>
                </settings>
            </groups>
        </astrio_menu>
    </sections>
</config>