<config>
    <modules>
        <Astrio_QuickView>
            <version>0.1.0</version>
        </Astrio_QuickView>
    </modules>
    <global>
        <blocks>
            <astrio_quickview>
                <class>Astrio_QuickView_Block</class>
            </astrio_quickview>
        </blocks>
        <helpers>
            <astrio_quickview>
                <class>Astrio_QuickView_Helper</class>
            </astrio_quickview>
        </helpers>
        <models>
            <astrio_quickview>
                <class>Astrio_QuickView_Model</class>
                <resourceModel>astrio_quickview_resource</resourceModel>
            </astrio_quickview>
            <astrio_quickview_resource>
                <class>Astrio_QuickView_Model_Resource</class>
                <entities>
                </entities>
            </astrio_quickview_resource>
        </models>
    </global>
    <frontend>
        <layout>
            <updates>
                <astrio_quickview>
                    <file>astrio_quickview.xml</file>
                </astrio_quickview>
            </updates>
        </layout>
        <translate>
            <modules>
                <Astrio_QuickView>
                    <files>
                        <default>Astrio_QuickView.csv</default>
                    </files>
                </Astrio_QuickView>
            </modules>
        </translate>
        <routers>
            <astrio_quickview>
                <use>standard</use>
                <args>
                    <module>Astrio_QuickView</module>
                    <frontName>astrio_quickview</frontName>
                </args>
            </astrio_quickview>
        </routers>

        <!-- Enterprise FPC cache-->
        <cache>
            <requests>
                <astrio_quickview>
                    <index>
                        <view>astrio_quickview/pageCache_processor_product</view>
                    </index>
                </astrio_quickview>
            </requests>
        </cache>
    </frontend>

    <adminhtml>
        <translate>
            <modules>
                <Astrio_QuickView>
                    <files>
                        <default>Astrio_QuickView.csv</default>
                    </files>
                </Astrio_QuickView>
            </modules>
        </translate>
    </adminhtml>

    <default>
        <astrio_quickview>
            <general>
                <enabled>1</enabled>
                <link_class>pr-qview</link_class>
            </general>
        </astrio_quickview>
    </default>

</config>