<?xml version="1.0"?>
<config>
    <modules>
        <Astrio_Brand>
            <version>1.0.3</version>
        </Astrio_Brand>
    </modules>

    <global>
        <blocks>
            <astrio_brand>
                <class>Astrio_Brand_Block</class>
            </astrio_brand>
            <catalog>
                <rewrite>
                    <breadcrumbs>Astrio_Brand_Rewrite_Mage_Catalog_Block_Breadcrumbs</breadcrumbs>
                </rewrite>
            </catalog>
        </blocks>

        <helpers>
            <astrio_brand>
                <class>Astrio_Brand_Helper</class>
            </astrio_brand>
        </helpers>

        <models>
            <astrio_brand>
                <class>Astrio_Brand_Model</class>
                <resourceModel>astrio_brand_resource</resourceModel>
            </astrio_brand>
            <astrio_brand_resource>
                <class>Astrio_Brand_Model_Resource</class>
                <entities>
                    <brand>
                        <table>astrio_brand_entity</table>
                    </brand>
                    <brand_website>
                        <table>astrio_brand_website</table>
                    </brand_website>
                    <eav_attribute>
                        <table>astrio_brand_eav_attribute</table>
                    </eav_attribute>
                </entities>
            </astrio_brand_resource>
        </models>

        <index>
            <indexer>
                <astrio_brand_url>
                    <model>astrio_brand/indexer_url</model>
                </astrio_brand_url>
            </indexer>
        </index>

        <astrio_brand>
            <brand>
                <url>
                    <model>astrio_brand/brand_url</model>
                </url>
                <url_rewrite>
                    <helper>astrio_brand/brand_url_rewrite</helper>
                </url_rewrite>
            </brand>
        </astrio_brand>

        <events>
            <catalog_entity_attribute_save_before>
                <observers>
                    <astrio_brand>
                        <type>singleton</type>
                        <class>astrio_brand/observer</class>
                        <method>brandAttributeEditRestrict</method>
                    </astrio_brand>
                </observers>
            </catalog_entity_attribute_save_before>
            <catalog_entity_attribute_delete_before>
                <observers>
                    <astrio_brand>
                        <type>singleton</type>
                        <class>astrio_brand/observer</class>
                        <method>brandAttributeDeleteRestrict</method>
                    </astrio_brand>
                </observers>
            </catalog_entity_attribute_delete_before>
            <widget_instance_create_layout_handles_options>
                <observers>
                    <astrio_brand>
                        <type>singleton</type>
                        <class>astrio_brand/observer</class>
                        <method>addHandlesToWidgetInstance</method>
                    </astrio_brand>
                </observers>
            </widget_instance_create_layout_handles_options>
        </events>

        <resources>
            <astrio_brand_setup>
                <setup>
                    <module>Astrio_Brand</module>
                    <class>Astrio_Brand_Model_Resource_Setup</class>
                </setup>
            </astrio_brand_setup>
        </resources>

    </global>

    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <astrio_brand after="Mage_Adminhtml">Astrio_Brand_Adminhtml</astrio_brand>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>

    <adminhtml>
        <layout>
            <updates>
                <astrio_brand>
                    <file>astrio_brand.xml</file>
                </astrio_brand>
            </updates>
        </layout>
        <translate>
            <modules>
                <Astrio_Brand>
                    <files>
                        <default>Astrio_Brand.csv</default>
                    </files>
                </Astrio_Brand>
            </modules>
        </translate>
        <events>
            <admin_system_config_changed_section_astrio_brand>
                <observers>
                    <astrio_brand>
                        <type>singleton</type>
                        <class>astrio_brand/observer</class>
                        <method>saveBrandsListUrlRewrite</method>
                    </astrio_brand>
                </observers>
            </admin_system_config_changed_section_astrio_brand>
            <adminhtml_widget_instance_edit_tab_main_layout_get_display_on_options>
                <observers>
                    <astrio_brand>
                        <type>singleton</type>
                        <class>astrio_brand/observer</class>
                        <method>addDisplayOnOptionsToWidgetInstance</method>
                    </astrio_brand>
                </observers>
            </adminhtml_widget_instance_edit_tab_main_layout_get_display_on_options>
            <adminhtml_widget_instance_edit_tab_main_layout_get_display_on_containers>
                <observers>
                    <astrio_brand>
                        <type>singleton</type>
                        <class>astrio_brand/observer</class>
                        <method>addDisplayOnContainersToWidgetInstance</method>
                    </astrio_brand>
                </observers>
            </adminhtml_widget_instance_edit_tab_main_layout_get_display_on_containers>
        </events>
    </adminhtml>

    <frontend>
        <routers>
            <astrio_brand>
                <use>standard</use>
                <args>
                    <module>Astrio_Brand</module>
                    <frontName>astrio_brand</frontName>
                </args>
            </astrio_brand>
        </routers>
        <layout>
            <updates>
                <astrio_brand>
                    <file>astrio_brand.xml</file>
                </astrio_brand>
            </updates>
        </layout>
        <translate>
            <modules>
                <Astrio_Brand>
                    <files>
                        <default>Astrio_Brand.csv</default>
                    </files>
                </Astrio_Brand>
            </modules>
        </translate>
        <events>
            <catalog_product_collection_load_after>
                <observers>
                    <astrio_brand>
                        <type>singleton</type>
                        <class>astrio_brand/observer</class>
                        <method>addUrlRewriteToProductCollection</method>
                    </astrio_brand>
                </observers>
            </catalog_product_collection_load_after>
            <catalog_controller_product_init_after>
                <observers>
                    <astrio_brand>
                        <type>singleton</type>
                        <class>astrio_brand/observer</class>
                        <method>setCurrentBrandOnProductPage</method>
                    </astrio_brand>
                </observers>
            </catalog_controller_product_init_after>
        </events>
    </frontend>

    <default>
        <astrio_brand>
            <seo>
                <brand_url_suffix>.html</brand_url_suffix>
                <product_use_brands>1</product_use_brands>
                <save_rewrites_history>1</save_rewrites_history>
                <brands_list_url_key>brands</brands_list_url_key>
                <brands_list_meta_title>Brands</brands_list_meta_title>
                <use_canonical_tag>1</use_canonical_tag>
            </seo>
        </astrio_brand>
    </default>
</config>