<?xml version="1.0"?>
<config>
    <modules>
        <Astrio_SpecialProducts>
            <version>1.0.1</version>
        </Astrio_SpecialProducts>
    </modules>
    <global>
        <blocks>
            <astrio_specialproducts>
                <class>Astrio_SpecialProducts_Block</class>
            </astrio_specialproducts>
        </blocks>
        <helpers>
            <astrio_specialproducts>
                <class>Astrio_SpecialProducts_Helper</class>
            </astrio_specialproducts>
        </helpers>
        <models>
            <astrio_specialproducts>
                <class>Astrio_SpecialProducts_Model</class>
                <resourceModel>astrio_specialproducts_resource</resourceModel>
            </astrio_specialproducts>
            <astrio_specialproducts_resource>
                <class>Astrio_SpecialProducts_Model_Resource</class>
                <entities>
                    <set>
                        <table>astrio_specialproducts_set</table>
                    </set>
                    <set_store>
                        <table>astrio_specialproducts_set_store</table>
                    </set_store>
                    <set_product>
                        <table>astrio_specialproducts_set_product</table>
                    </set_product>
                    <set_label>
                        <table>astrio_specialproducts_set_label</table>
                    </set_label>
                    <set_block>
                        <table>astrio_specialproducts_set_block</table>
                    </set_block>
                    <set_page>
                        <table>astrio_specialproducts_set_page</table>
                    </set_page>
                </entities>
            </astrio_specialproducts_resource>
        </models>

        <resources>
            <astrio_specialproducts_setup>
                <setup>
                    <module>Astrio_SpecialProducts</module>
                </setup>
            </astrio_specialproducts_setup>
        </resources>

        <index>
            <indexer>
                <astrio_specialproducts_set>
                    <model>astrio_specialproducts/indexer_set</model>
                    <sort_order>500</sort_order>
                    <depends>
                        <cataloginventory_stock/>
                        <catalog_product_price/>
                    </depends>
                </astrio_specialproducts_set>
            </indexer>
        </index>

        <events>
            <widget_instance_create_layout_handles_options>
                <observers>
                    <astrio_specialproducts>
                        <type>singleton</type>
                        <class>astrio_specialproducts/observer</class>
                        <method>addHandlesToWidgetInstance</method>
                    </astrio_specialproducts>
                </observers>
            </widget_instance_create_layout_handles_options>
        </events>
    </global>

    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <astrio_specialproducts after="Mage_Adminhtml">Astrio_SpecialProducts_Adminhtml</astrio_specialproducts>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>

    <adminhtml>
        <layout>
            <updates>
                <astrio_specialproducts>
                    <file>astrio_specialproducts.xml</file>
                </astrio_specialproducts>
            </updates>
        </layout>
        <translate>
            <modules>
                <Astrio_SpecialProducts>
                    <files>
                        <default>Astrio_SpecialProducts.csv</default>
                    </files>
                </Astrio_SpecialProducts>
            </modules>
        </translate>
        <events>
            <adminhtml_widget_instance_edit_tab_main_layout_get_display_on_options>
                <observers>
                    <astrio_specialproducts>
                        <type>singleton</type>
                        <class>astrio_specialproducts/observer</class>
                        <method>addDisplayOnOptionsToWidgetInstance</method>
                    </astrio_specialproducts>
                </observers>
            </adminhtml_widget_instance_edit_tab_main_layout_get_display_on_options>
            <adminhtml_widget_instance_edit_tab_main_layout_get_display_on_containers>
                <observers>
                    <astrio_specialproducts>
                        <type>singleton</type>
                        <class>astrio_specialproducts/observer</class>
                        <method>addDisplayOnContainersToWidgetInstance</method>
                    </astrio_specialproducts>
                </observers>
            </adminhtml_widget_instance_edit_tab_main_layout_get_display_on_containers>
        </events>
    </adminhtml>

    <frontend>
        <routers>
            <astrio_specialproducts>
                <use>standard</use>
                <args>
                    <module>Astrio_SpecialProducts</module>
                    <frontName>astrio_specialproducts</frontName>
                </args>
            </astrio_specialproducts>
        </routers>
        <layout>
            <updates>
                <astrio_specialproducts>
                    <file>astrio_specialproducts.xml</file>
                </astrio_specialproducts>
            </updates>
        </layout>
        <translate>
            <modules>
                <Astrio_SpecialProducts>
                    <files>
                        <default>Astrio_SpecialProducts.csv</default>
                    </files>
                </Astrio_SpecialProducts>
            </modules>
        </translate>
    </frontend>

    <default>
        <astrio_specialproducts>
            <settings>

            </settings>
        </astrio_specialproducts>
    </default>
</config>